
version: '3.8'

services:
  api:
    build: .  
    ports:
      - "8003:8000"  
    environment:
      - RABBITMQ_HOST=rabbitmq
    depends_on:
      - rabbitmq
    command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000"]


  consumer:
    build: .
    environment:
      - RABBITMQ_HOST=rabbitmq
    depends_on:
      - rabbitmq
    command: ["python" , "consumer.py"]

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"  
      - "15672:15672" 